.card__field {
	background: gainsboro;
	/* position: relative; */
	max-width: 1160px;
	min-height: 500px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px 10px;
}

.card__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 260px);
	align-items: start;
	justify-content: center;
	column-gap: 20px;
	row-gap: 20px;
	margin: 0;
	padding-left: 0;
	font-size: 14px;
}

.card_img {
	height: 100px;
	margin: 0 auto;
	margin-top: 26px;

}

.card__item--done .card_img {
	opacity: 0.3;
}



.card__item--priority.card {
	background-color: #cd327778;
}

.card__item--urgent.card {
	background-color: #ff00001f;
}

.card__item--ordinary.card {
	background-color: #007bff3b;
}

.card__item--overdue.card {
	background-color: grey;
}

.card__item--done.card {
	background-color: #c2c2c2;
}

.card__text {
	margin-bottom: 6px;
}

.card__status {
	position: absolute;
	top: 15px;
	left: 10px;
	border-radius: 3px;
	border: 1px solid #007bff;
	padding: 3px;
	font-size: 14px;
	cursor: pointer;
}

.card__show-more-btn {
	margin-right: 10px;
	position: relative;
	padding-right: 35px;
	margin-right: 10px;
	position: relative;
	padding-right: 35px;
	background-color: #4169e1;
}

.card__edit-btn {
	background-color: #4169e1;
}

.card__delete-btn {
	position: absolute;
	top: 7px;
	right: 15px;
	padding: 5px;
}




.card__info {
	margin-bottom: 20px;
}